# Preprocess count data

In [12]:
# Imports
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
import numpy as np
import pandas as pd
import seaborn as sns
import glob
import os
import time
%matplotlib inline
from pandas.api.types import CategoricalDtype
import warnings
warnings.filterwarnings("ignore")

## Step 1: Import data & feature selection

In [13]:
# import raw data 
count_raw = pd.read_csv("../raw_data/count2021-2022.csv")
count_raw['Date_Time'] = pd.to_datetime(count_raw['Date_Time'])
count_raw

,ID,Date_Time,Year,Month,Mdate,Day,Time,Sensor_ID,Sensor_Name,Hourly_Counts
0,3482939,2021-01-01 00:00:00,2021,January,1,Friday,0,4,Town Hall (West),1461
1,3482940,2021-01-01 00:00:00,2021,January,1,Friday,0,17,Collins Place (South),79
2,3482941,2021-01-01 00:00:00,2021,January,1,Friday,0,18,Collins Place (North),33
3,3482942,2021-01-01 00:00:00,2021,January,1,Friday,0,53,Collins St (North),196
4,3482943,2021-01-01 00:00:00,2021,January,1,Friday,0,2,Bourke Street Mall (South),236
...,...,...,...,...,...,...,...,...,...,...
837590,4326000,2022-05-31 19:00:00,2022,May,31,Tuesday,19,86,Queensberry St - Errol St (South),72
837591,4326001,2022-05-31 20:00:00,2022,May,31,Tuesday,20,86,Queensberry St - Errol St (South),52
837592,4326002,2022-05-31 21:00:00,2022,May,31,Tuesday,21,86,Queensberry St - Errol St (South),27
837593,4326003,2022-05-31 22:00:00,2022,May,31,Tuesday,22,86,Queensberry St - Errol St (South),40
837594,4326004,2022-05-31 23:00:00,2022,May,31,Tuesday,23,86,Queensberry St - Errol St (South),14

In [14]:
count_raw.describe()

,ID,Year,Mdate,Time,Sensor_ID,Hourly_Counts
count,8.375950e+05,837595.000000,837595.000000,837595.000000,837595.000000,837595.000000
mean,3.903382e+06,2021.289806,15.695291,11.499996,40.021227,261.308395
std,2.437905e+05,0.453672,8.785897,6.922179,23.049897,420.654696
min,3.482939e+06,2021.000000,1.000000,0.000000,1.000000,0.000000
25%,3.692338e+06,2021.000000,8.000000,6.000000,20.000000,25.000000
50%,3.901736e+06,2021.000000,16.000000,12.000000,41.000000,103.000000
75%,4.116606e+06,2022.000000,23.000000,17.000000,59.000000,305.000000
max,4.326004e+06,2022.000000,31.000000,23.000000,86.000000,9509.000000

In [15]:
start_date_2021 = '2021-01-01'
end_date_2021 = '2021-12-31'
start_date_2022 = '2022-01-01'
end_date_2022 = '2022-05-31'

In [16]:
# find all 2021 data 
mask_21 = (count_raw['Date_Time'] >= start_date_2021) & (count_raw['Date_Time'] <= end_date_2021)
count_21 = count_raw.loc[mask_21] 

# find all 2022 data 
mask_22 = (count_raw['Date_Time'] >= start_date_2022) & (count_raw['Date_Time'] <= end_date_2022)
count_22 = count_raw.loc[mask_22]

## Step 2: Save on desk

In [17]:
count_21.to_csv('../processed_data/count_21.csv',header=True)
count_22.to_csv('../processed_data/count_22.csv',header=True)